<app-massariol-registration-and-research
  brand="Treinamentos"
  placeholder="Pesquisar por curso/aluno/empresa"
  (newRegisterChange)="newTraining($event)"
  (searchChange)="searchTraining($event)">
</app-massariol-registration-and-research>

<ngx-datatable
  class="material fullscreen"
  [columnMode]="'force'"
  [rowHeight]="'auto'"
  [headerHeight]="40"
  [footerHeight]="30"
  [scrollbarV]="false"
  [scrollbarH]="true"
  [rows]="rows"
  [messages]="messages"
  [columns]="columns"
  [externalPaging]="true"
  [loadingIndicator]="isLoading"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='setPage($event)'>
  <ngx-datatable-column name="student">
    <ng-template let-column="column" ngx-datatable-header-template>
      Aluno
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.student}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="course">
    <ng-template let-column="column" ngx-datatable-header-template>
      Curso
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.course}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="company">
    <ng-template let-column="column" ngx-datatable-header-template>
      Empresa
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.company}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="startDate">
    <ng-template let-column="column" ngx-datatable-header-template>
      Inicio
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.startDate}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="finishDate">
    <ng-template let-column="column" ngx-datatable-header-template>
      Finalziado Em
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.finishDate}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Ações" prop="id" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" >
    <ng-template let-row="row" let-rowIndex="rowIndex" let-id="value" ngx-datatable-cell-template>
      <div class="btn-group" role="group">
        <button
          (click)="updateTraining(row.id)"
          class="btn btn-sm">
          <i class="fas fa-edit"></i>
        </button>
        <button
          (click)="deleteTraining(row.id)"
          class="btn btn-sm">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
