
.containerLink {
  width: 100%;
  padding: 0
}
.containerImage {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

 .imgStyle {
   max-width:200px;
   max-height:60px;
   width: auto;
   height: auto;
 }

.shadowBoxNavbar {
  -webkit-box-shadow: 0px 10px 20px -11px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 10px 20px -11px rgba(0,0,0,0.45);
  box-shadow: 0px 10px 20px -11px rgba(0,0,0,0.45);
}

.header {
  margin-bottom: 20px;
  z-index: 99999;
}
